.carousel{
    position: relative;
    top: 1rem;
   
   }
   
   
   .item{
   position: relative;
   margin: 40px 5px;
   }
   
   .highlight{
       border-radius: 15px;
       
   -webkit-box-shadow: 0px 20px 0px -10px white, 0px -20px 0px -10px white, 20px 0px 0px -10px white, -20px 0px 0px -10px white, 0px 0px 0px 10px #1a83ff, 5px 15px 23px 31px rgba(255,255,255,0); 
   box-shadow: 0px 20px 0px -10px white, 0px -20px 0px -10px white, 20px 0px 0px -10px white, -20px 0px 0px -10px white, 0px 0px 0px 10px #1a83ff, 5px 15px 23px 31px rgba(255,255,255,0);
   
   }
   
   @media screen and (max-width: 768px){
       .item{
           margin:10px;
       }
     
     }